form{
    
margin: auto;
width: 50%;
}

/* 
label{



} */


input{

width: 500px;
height: 50px;
border-radius: 18px 18px 18px 18px; 
}

.Inscription{

width: 250px;
height: 50px;
margin-left: 730px;
background-color: 
#b45f06;
color: white;
}

body{
margin: 0;
padding: 0;
background-color: gray;
}

.container{
width: 60%;
margin: auto;
}
input{

    width: 100%;
    height: 35px;
}
.profil{

    
    width: 30px;
    height: 30px;
}

.profil img{
width: 100%;
height: 100%;
border-radius: 50%;
}
nav{

    display: flex;
    justify-content: flex-end;
    border:solid 1px
}
.lagout{
background-color: brown;
color : white;
height: 30px;

}
.post{
width: 200px;
height: 250px;
margin: 10px
}

.postimg{

    
}