form{
    
margin: auto;
width: 50%;
}


label{



}


input{

width: 500px;
height: 50px;
border-radius: 18px 18px 18px 18px; 
}

.Inscription{

width: 250px;
height: 50px;
margin-left: 730px;
background-color: 
#b45f06;
color: white;
}